<a href="https://colab.research.google.com/github/JaroslavHolecek/Teaching/blob/master/JupyterNotebook/SQL/Create_alter_delete_zadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL datab√°ze ‚Äî vytvo≈ôen√≠, √∫prava a maz√°n√≠ tabulky

SQL datab√°ze slou≈æ√≠ k ulo≈æen√≠ a n√°sledn√©mu zpracov√°n√≠ dat. Samotn√© datab√°ze si m≈Ø≈æeme zjednodu≈°enƒõ p≈ôedstavit jako excelovsk√© tabulky ‚Äî s t√≠m rozd√≠lem, ≈æe nad nimi stoj√≠ **S≈òBD** (Syst√©m ≈ò√≠zen√≠ B√°ze Dat), kter√Ω um√≠ s ulo≈æen√Ωmi daty pracovat (ukl√°dat, vyhled√°vat, prov√°dƒõt v√Ωpoƒçty, hl√≠dat integritu apod.).

---

## Jazyk SQL

**SQL** (Structured Query Language) je dotazovac√≠ jazyk, pomoc√≠ kter√©ho komunikujeme s datab√°z√≠. V SQL p≈ô√≠kazech **nepopisujeme, jak** se m√° v√Ωsledek z√≠skat, ale pouze **co chceme** za v√Ωsledek ‚Äî o zbytek se postar√° S≈òBD.

SQL p≈ô√≠kazy dƒõl√≠me do nƒõkolika kategori√≠:

| Kategorie | Zkratka | P≈ô√≠kazy | √öƒçel |
|---|---|---|---|
| Data Definition Language | **DDL** | `CREATE`, `ALTER`, `DROP` | Definice struktury (tabulky, sloupce) |
| Data Manipulation Language | **DML** | `INSERT`, `UPDATE`, `DELETE` | Manipulace s daty |
| Data Query Language | **DQL** | `SELECT` | Dotazov√°n√≠ / ƒçten√≠ dat |
| Data Control Language | **DCL** | `GRANT`, `REVOKE` | Spr√°va opr√°vnƒõn√≠ |

V tomto notebooku se zamƒõ≈ô√≠me na **DDL** ‚Äî vytv√°≈ôen√≠, √∫pravu a maz√°n√≠ tabulek.

---

## Konvence pojmenov√°n√≠

P≈ôi pr√°ci s datab√°z√≠ dodr≈æujeme tyto konvence:
- N√°zvy tabulek a sloupc≈Ø p√≠≈°eme **mal√Ωmi p√≠smeny**, **bez diakritiky**, s podtr≈æ√≠tky (`snake_case`): `automobily`, `pocet_sedadel`, `datum_vyroby`.
- SQL kl√≠ƒçov√° slova p√≠≈°eme **VELK√ùMI P√çSMENY**: `CREATE TABLE`, `NOT NULL`, `PRIMARY KEY`.
- N√°zvy tabulek vol√≠me v **mno≈æn√©m ƒç√≠sle**: `automobily` (ne `automobil`), `uzivatele` (ne `uzivatel`). Tabulka obsahuje v√≠ce z√°znam≈Ø ‚Äî proto mno≈æn√© ƒç√≠slo.

> **Pozn.:** V praxi existuj√≠ oba p≈ô√≠stupy (jednotn√© i mno≈æn√© ƒç√≠slo). D≈Øle≈æit√© je b√Ωt **konzistentn√≠** v cel√©m projektu. Mno≈æn√© ƒç√≠slo je bƒõ≈ænƒõj≈°√≠ ‚Äî pou≈æ√≠vaj√≠ ho frameworky jako Django, Rails, Laravel i vƒõt≈°ina tutori√°l≈Ø.

> **‚ö†Ô∏è Pozn√°mka:** Knihovna `mysql-connector-python` nepodporuje datov√Ω typ `TEXT` v nƒõkter√Ωch kontextech. M√≠sto nƒõj pou≈æ√≠v√°me `CHAR(n)` nebo `VARCHAR(n)`, kde `n` je maxim√°ln√≠ poƒçet znak≈Ø. V podkladech je uveden `VARCHAR` pro p≈ôehlednost. Tato pozn√°mka plat√≠ pro v≈°echny n√°sleduj√≠c√≠ podklady.

## Instalace bal√≠ƒçku

In [ ]:
# Instalace knihovny (staƒç√≠ spustit jednou)
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector in c:\programovani\spskladno\venv\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# P≈ôipojen√≠ k datab√°zi

Ne≈æ zaƒçneme s datab√°z√≠ pracovat, mus√≠me se k n√≠ p≈ôipojit. P≈ôihla≈°ovac√≠ √∫daje importujeme z modulu `pripojeni.py` (nikdy je nep√≠≈°eme p≈ô√≠mo do k√≥du).

In [ ]:
import mysql.connector
from pripojeni import *  # importuje konstanty HOST, USER, PASSWORD, DATABASE

# P≈ôipojen√≠ k datab√°zi
mydb = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    database=DATABASE
)

# Kurzor ‚Äî objekt, p≈ôes kter√Ω pos√≠l√°me SQL p≈ô√≠kazy a ƒçteme v√Ωsledky
mycursor = mydb.cursor()

# CREATE TABLE ‚Äî vytvo≈ôen√≠ tabulky

Tabulka se v datab√°zi vytvo≈ô√≠ pomoc√≠ p≈ô√≠kazu `CREATE TABLE`.

## Syntaxe

```sql
CREATE TABLE nazev_tabulky (
    nazev_sloupce datovy_typ [omezeni],
    ...
);
```

P≈ôi vytv√°≈ôen√≠ mus√≠me zadat:
1. **N√°zev tabulky** ‚Äî v `snake_case`, bez diakritiky, mno≈æn√© ƒç√≠slo.
2. **N√°zvy sloupc≈Ø** (atribut≈Ø) ‚Äî v `snake_case`, bez diakritiky.
3. **Datov√Ω typ** ka≈æd√©ho sloupce (`INT`, `VARCHAR(n)`, `DATE`, ‚Ä¶).
4. Volitelnƒõ **omezen√≠** (`NOT NULL`, `UNIQUE`, `PRIMARY KEY`, ‚Ä¶).

### Jednoduch√Ω p≈ô√≠klad

In [ ]:
# SQL dotaz v trojit√Ωch uvozovk√°ch ‚Äî umo≈æ≈àuje z√°pis na v√≠ce ≈ô√°dk≈Ø
mycursor.execute("""
    CREATE TABLE automobily (
        id INT,
        spz CHAR(7),
        pocet_sedadel INT,
        max_rychlost INT,
        nosnost INT,
        nutna_kvalifikace VARCHAR(50),
        datum_vyroby DATE
    )
""")

# commit() potvrd√≠ proveden√≠ p≈ô√≠kazu (jako stisknut√≠ Enter)
mydb.commit()

> **Tip:** Pokud chcete tabulku vytvo≈ôit pouze v p≈ô√≠padƒõ, ≈æe je≈°tƒõ neexistuje, pou≈æijte `IF NOT EXISTS`:
> ```sql
> CREATE TABLE IF NOT EXISTS automobily ( ... );
> ```

# DROP TABLE ‚Äî smaz√°n√≠ tabulky

P≈ô√≠kaz `DROP TABLE` slou≈æ√≠ ke **smaz√°n√≠ cel√© tabulky** vƒçetnƒõ v≈°ech dat.

```sql
DROP TABLE nazev_tabulky;
```

> **‚ö†Ô∏è Pozor:**
> - Smaz√°n√≠ je **nevratn√©** ‚Äî v≈°echna data budou ztracena.
> - Tabulku nelze smazat, pokud na ni odkazuje jin√° tabulka ciz√≠m kl√≠ƒçem (`FOREIGN KEY`). To lze v≈°ak vypnout p≈ô√≠kazem `SET FOREIGN_KEY_CHECKS = 0;` a pot√© zase zapnout `SET FOREIGN_KEY_CHECKS = 1`. Toto prov√°dƒõjte na vlastn√≠ nebezpeƒç√≠ a jen pokud je tabulka pr√°zdn√°.
> - Tabulka, kterou chceme smazat, mus√≠ existovat (jinak dostaneme chybu). M≈Ø≈æeme pou≈æ√≠t `DROP TABLE IF EXISTS nazev_tabulky;`

In [ ]:
# Smaz√°n√≠ tabulky vytvo≈ôen√© v p≈ôedchoz√≠m p≈ô√≠kladu
mycursor.execute("""DROP TABLE IF EXISTS automobily""")
mydb.commit()

# Omezen√≠ (constraints) sloupc≈Ø

Ke sloupc≈Øm m≈Ø≈æeme p≈ôi vytv√°≈ôen√≠ tabulky p≈ôidat r≈Øzn√° **omezen√≠**:

| Omezen√≠ | Popis |
|---|---|
| `PRIMARY KEY` | Vlastn√≠ (prim√°rn√≠) kl√≠ƒç ‚Äî jednoznaƒçnƒõ identifikuje ka≈æd√Ω z√°znam. M≈Ø≈æe b√Ωt v tabulce **pouze jeden**. |
| `FOREIGN KEY` | Ciz√≠ kl√≠ƒç ‚Äî odkazuje na prim√°rn√≠ kl√≠ƒç jin√© tabulky (vytv√°≈ô√≠ relaci). |
| `NOT NULL` | Hodnota **nesm√≠ b√Ωt pr√°zdn√°** (NULL). |
| `UNIQUE` | Hodnota se **nesm√≠ v dan√©m sloupci opakovat**. |
| `AUTO_INCREMENT` | S≈òBD automaticky p≈ôi≈ôad√≠ hodnotu o jednu vy≈°≈°√≠ ne≈æ dosud nejvy≈°≈°√≠. |
| `DEFAULT hodnota` | Pokud hodnota nen√≠ vyplnƒõna, ulo≈æ√≠ se tato **v√Ωchoz√≠ hodnota**. |

> Podrobnƒõj≈°√≠ vysvƒõtlen√≠ naleznete v samostatn√©m notebooku [Vlastnosti atributu](https://github.com/JaroslavHolecek/Teaching/tree/master/JupyterNotebook/SQL).

### P≈ô√≠klad s omezen√≠m

In [ ]:
# Nejd≈ô√≠ve sma≈æeme tabulku, pokud existuje z p≈ôedchoz√≠ho spu≈°tƒõn√≠
mycursor.execute("""DROP TABLE IF EXISTS automobily""")
mydb.commit()

mycursor.execute("""
    CREATE TABLE automobily (
        id INT PRIMARY KEY AUTO_INCREMENT,
        spz CHAR(7) NOT NULL UNIQUE,
        pocet_sedadel INT NOT NULL,
        max_rychlost INT,
        nosnost INT,
        nutna_kvalifikace VARCHAR(50) NOT NULL DEFAULT 'B',
        datum_vyroby DATE
    )
""")

mydb.commit()

# ALTER TABLE ‚Äî √∫prava tabulky

P≈ô√≠kaz `ALTER TABLE` slou≈æ√≠ k √∫pravƒõ **ji≈æ existuj√≠c√≠** tabulky. M≈Ø≈æeme:

| Operace | Syntaxe |
|---|---|
| P≈ôidat sloupec | `ALTER TABLE tabulka ADD nazev_sloupce datovy_typ;` |
| Smazat sloupec | `ALTER TABLE tabulka DROP COLUMN nazev_sloupce;` |
| Zmƒõnit datov√Ω typ | `ALTER TABLE tabulka MODIFY nazev_sloupce novy_typ;` |
| P≈ôejmenovat sloupec | `ALTER TABLE tabulka CHANGE stary_nazev novy_nazev datovy_typ;` |
| P≈ôidat omezen√≠ | `ALTER TABLE tabulka ADD CONSTRAINT ... ;` |

### P≈ô√≠klad ‚Äî p≈ôid√°n√≠ sloupce

In [ ]:
# Vytvo≈ô√≠me tabulku bez sloupce datum_vyroby
mycursor.execute("""DROP TABLE IF EXISTS automobily""")
mydb.commit()

mycursor.execute("""
    CREATE TABLE automobily (
        id INT PRIMARY KEY AUTO_INCREMENT,
        spz CHAR(7) NOT NULL UNIQUE,
        pocet_sedadel INT NOT NULL,
        max_rychlost INT,
        nosnost INT,
        nutna_kvalifikace VARCHAR(50) NOT NULL DEFAULT 'B'
    )
""")
mydb.commit()

# P≈ôid√°me sloupec datum_vyroby pomoc√≠ ALTER TABLE
mycursor.execute("""ALTER TABLE automobily ADD datum_vyroby DATE""")
mydb.commit()

print("‚úÖ Sloupec 'datum_vyroby' √∫spƒõ≈°nƒõ p≈ôid√°n.")

# P≈ôehled datov√Ωch typ≈Ø

V datab√°z√≠ch existuje mnoho datov√Ωch typ≈Ø. Spr√°vn√© zvolen√≠ typu zefektiv≈àuje chod datab√°ze (zab√≠r√° m√©nƒõ m√≠sta, rychlej≈°√≠ vyhled√°v√°n√≠).

| Typ | Popis | P≈ô√≠klad |
|---|---|---|
| `INT` | Cel√© ƒç√≠slo | `42`, `-7` |
| `FLOAT` / `DOUBLE` | Desetinn√© ƒç√≠slo (p≈ôibli≈æn√©) | `3.14` |
| `DECIMAL(m, d)` | P≈ôesn√© desetinn√© ƒç√≠slo (_m_ ƒç√≠slic, _d_ za teƒçkou) | `DECIMAL(10, 2)` ‚Üí `12345678.99` |
| `CHAR(n)` | ≈òetƒõzec **pevn√©** d√©lky _n_ znak≈Ø | `CHAR(7)` ‚Üí `"2A5 01 "` |
| `VARCHAR(n)` | ≈òetƒõzec **promƒõnliv√©** d√©lky (max _n_ znak≈Ø) | `VARCHAR(100)` ‚Üí `"Ahoj"` |
| `TEXT` | Dlouh√Ω text (neomezen√° d√©lka) | ƒçl√°nek, popis |
| `DATE` | Datum (`YYYY-MM-DD`) | `2025-03-15` |
| `DATETIME` | Datum a ƒças | `2025-03-15 14:30:00` |
| `BOOLEAN` | Pravda / nepravda | `TRUE`, `FALSE` |

Kompletn√≠ p≈ôehled datov√Ωch typ≈Ø najdete na [W3Schools ‚Äî SQL Data Types](https://www.w3schools.com/sql/sql_datatypes.asp).

---

# Odpojen√≠ od datab√°ze

Na konci pr√°ce v≈ædy uzav≈ôeme kurzor i spojen√≠:

In [ ]:
# Uklid√≠me po sobƒõ a odpoj√≠me se
mycursor.execute("""DROP TABLE IF EXISTS automobily""")
mydb.commit()

mycursor.close()
mydb.close()

print("‚úÖ Odpojen√≠ probƒõhlo √∫spƒõ≈°nƒõ.")

---

# Cviƒçen√≠

Zde bude n√°sledovat s√©rie √∫kol≈Ø, d√≠ky kter√Ωm si ovƒõ≈ô√≠te, zda jste l√°tku pochopili.

> V ka≈æd√©m cviƒçen√≠ se nejprve p≈ôipojte k datab√°zi pomoc√≠ konstant z modulu `pripojeni`. Na konci se v≈ædy odpojte.

## Cviƒçen√≠ 1
* P≈ôipojte se k datab√°zi a vytvo≈ôte tabulku `uzivatele` s atributy:
  * `id` ‚Äî `INT`
  * `jmeno` ‚Äî `CHAR(10)`
  * `prijmeni` ‚Äî `CHAR(20)`
  * `email` ‚Äî `CHAR(50)`
* Nep≈ôid√°vejte k atribut≈Øm ≈æ√°dn√© dal≈°√≠ vlastnosti (omezen√≠).

<details>
<summary>üîé Oƒçek√°van√Ω v√Ωstup (klikni pro zobrazen√≠)</summary>

```
Tabulka vytvo≈ôena spr√°vnƒõ.
```

</details>

In [ ]:
import mysql.connector
from pripojeni import *

mydb = mysql.connector.connect(
    host=HOST, user=USER, password=PASSWORD, database=DATABASE
)
mycursor = mydb.cursor()

# TODO: zde vytvo≈ôte tabulku


mydb.commit()

# --- tuto ƒç√°st nemƒõnit! ---
mycursor.execute("""DESCRIBE uzivatele""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'YES', '', None, ''), ('jmeno', 'char(10)', 'YES', '', None, ''), ('prijmeni', 'char(20)', 'YES', '', None, ''), ('email', 'char(50)', 'YES', '', None, '')]"
if table == expected:
    print("Tabulka vytvo≈ôena spr√°vnƒõ.")
else:
    print("Tabulka nen√≠ dle zad√°n√≠.\nVa≈°e tabulka:")
    print(table)
    print("Oƒçek√°van√° tabulka:")
    print(expected)

mycursor.execute("""DROP TABLE uzivatele""")
mydb.commit()
mycursor.close()
mydb.close()

## Cviƒçen√≠ 2
* P≈ôipojte se k datab√°zi a vytvo≈ôte tabulku `uzivatele` s atributy a omezen√≠m:
  * `id` ‚Äî `INT`, `PRIMARY KEY`, `AUTO_INCREMENT`
  * `jmeno` ‚Äî `CHAR(10)`, `NOT NULL`
  * `prijmeni` ‚Äî `CHAR(20)`, `NOT NULL`
  * `email` ‚Äî `CHAR(50)`, `NOT NULL`, `UNIQUE`

<details>
<summary>üîé Oƒçek√°van√Ω v√Ωstup (klikni pro zobrazen√≠)</summary>

```
Tabulka vytvo≈ôena spr√°vnƒõ.
```

</details>

In [ ]:
import mysql.connector
from pripojeni import *

mydb = mysql.connector.connect(
    host=HOST, user=USER, password=PASSWORD, database=DATABASE
)
mycursor = mydb.cursor()

# TODO: zde p≈ôijde v√°≈° k√≥d ‚Üí


mydb.commit()

# --- tuto ƒç√°st nemƒõnit! ---
mycursor.execute("""DESCRIBE uzivatele""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('jmeno', 'char(10)', 'NO', '', None, ''), ('prijmeni', 'char(20)', 'NO', '', None, ''), ('email', 'char(50)', 'NO', 'UNI', None, '')]"
if table == expected:
    print("Tabulka vytvo≈ôena spr√°vnƒõ.")
else:
    print("Tabulka nen√≠ dle zad√°n√≠.\nVa≈°e tabulka:")
    print(table)
    print("Oƒçek√°van√° tabulka:")
    print(expected)

mycursor.execute("""DROP TABLE uzivatele""")
mydb.commit()
mycursor.close()
mydb.close()

## Cviƒçen√≠ 3
* Dopi≈°te k√≥d tak, aby se tabulka `uzivatele` roz≈°√≠≈ôila o atribut `datum_narozeni` (`DATE`).
* Pro roz≈°√≠≈ôen√≠ pou≈æijte p≈ô√≠kaz `ALTER TABLE`.

<details>
<summary>üîé Oƒçek√°van√Ω v√Ωstup (klikni pro zobrazen√≠)</summary>

```
Tabulka vytvo≈ôena spr√°vnƒõ.
```

</details>

In [ ]:
import mysql.connector
from pripojeni import *

mydb = mysql.connector.connect(
    host=HOST, user=USER, password=PASSWORD, database=DATABASE
)
mycursor = mydb.cursor()

# --- tento p≈ô√≠kaz nemƒõnit! ---
mycursor.execute("""
    CREATE TABLE uzivatele (
        id INT,
        jmeno CHAR(10),
        prijmeni CHAR(20),
        email CHAR(50)
    )
""")
mydb.commit()

# TODO: zde p≈ôidejte sloupec datum_narozeni pomoc√≠ ALTER TABLE ‚Üí


mydb.commit()

# --- tuto ƒç√°st nemƒõnit! ---
mycursor.execute("""DESCRIBE uzivatele""")
table = str(mycursor.fetchall())
expected = "[('id', 'int(11)', 'YES', '', None, ''), ('jmeno', 'char(10)', 'YES', '', None, ''), ('prijmeni', 'char(20)', 'YES', '', None, ''), ('email', 'char(50)', 'YES', '', None, ''), ('datum_narozeni', 'date', 'YES', '', None, '')]"
if table == expected:
    print("Tabulka vytvo≈ôena spr√°vnƒõ.")
else:
    print("Tabulka nen√≠ dle zad√°n√≠.\nVa≈°e tabulka:")
    print(table)
    print("Oƒçek√°van√° tabulka:")
    print(expected)

mycursor.execute("""DROP TABLE uzivatele""")
mydb.commit()
mycursor.close()
mydb.close()

## Cviƒçen√≠ 4
* P≈ôipojte se k datab√°zi.
* Vytvo≈ôte tabulku `testy` s atributy:
  * `id` ‚Äî `INT`, `AUTO_INCREMENT`, `PRIMARY KEY`
  * `nazev` ‚Äî `CHAR(15)`, `NOT NULL`, `UNIQUE`
* Pomoc√≠ p≈ô√≠kazu `ALTER TABLE` p≈ôidejte sloupec `datum` (`DATE`, `NOT NULL`).
* Zkontrolujte v√Ωsledek p≈ôes **phpMyAdmin** (`dbs.spskladno.cz/myadmin`).
* Celou tabulku n√°slednƒõ sma≈æte.

<details>
<summary>üîé Oƒçek√°van√Ω v√Ωstup (klikni pro zobrazen√≠)</summary>

```
‚úÖ Tabulka 'testy' vytvo≈ôena.
‚úÖ Sloupec 'datum' p≈ôid√°n.
‚úÖ Tabulka 'testy' smaz√°na.
```

</details>

In [ ]:
import mysql.connector
from pripojeni import *

mydb = mysql.connector.connect(
    host=HOST, user=USER, password=PASSWORD, database=DATABASE
)
mycursor = mydb.cursor()

# TODO: Cel√Ω √∫kol je na v√°s ‚Äî v√Ωsledek si zkontrolujte p≈ôes dbs.spskladno.cz/myadmin

<p>V√Ωsledek v MyAdmin</p>
<img width="500" src="https://raw.githubusercontent.com/JaroslavHolecek/Teaching/master/JupyterNotebook/SQL/Images/JyputerNotebook_checkExercise_SQLcreate.png">

In [ ]:
# TODO: Zde tabulku po kontrole spr√°vnosti sma≈æte
# Nezapome≈àte se na konci odpojit (mycursor.close(), mydb.close())